.about-us__simpson-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 10px;
  position: absolute;
  top: 448px;
  left: 132px;
  right: 132px;
  bottom: 74px;
}
