.footer__facebook {
  background: url("../../../images/social_icons/facebook.svg");
  background-repeat: no-repeat;
  margin-right: 15px;
  width: 44px;
  height: 44px;
}

.footer__facebook:hover {
  opacity: 0.5;
}
