.free-consultation__title {
  font-family: "Circular Std", Arial, sans-serif;
  font-size: 40px;
  line-height: 51px;
  max-width: 502px;
  text-align: center;
  margin: 0 auto;
  padding-top: 100px;
  margin-bottom: 50px;
}
