.free-consultation__registration_fon-top {
  background-image: url("../../../../images/free-consultation/free-consultation_fon.png");
  position: absolute;
  top: 305px;
  right: 690px;
  width: 326px;
  height: 358px;
}
