.header {
  max-width: 1170px;
  display: inline-flex;
  position: absolute;
  top: 0;
  justify-content: center;
  background-color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 3;
}
