.about-us__text {
  position: absolute;
  top: 156px;
  left: 53px;
  right: 53px;
  bottom: 256px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  opacity: 0.6;
  width: 329px;
  margin: 0;

  color: #14142B;
}
