.free-consultation__quote {
  display: inline-block;
  text-decoration: none;
  padding: 15px 40px;
  border-radius: 5px;
  color: #ffffff;
  background: #1a73e8;
}

.free-consultation__quote:hover {
  opacity: 0.5;
}
